<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="js/vue.min.js"></script>
    <style>
        .class1{
            background: #444;
            color: #eee;
        }
    </style>

</head>
<body>
   <!-- {{}} 最简单使用-->
<div id="app">
    {{ message }}
    {{ who }}
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            who:'I am Charlie'
        }
    })
</script>
<!-- end -->

<!--v-bind的使用-->
   <div id="app-2">
       <span v-bind:title="message">
           这个地方鼠标悬停几秒可以查看动态信息？
       </span>
   </div>
   <script>
       var app2 = new Vue({
           el:'#app-2',
           data:{
               message:'页面加载'+new Date().toLocaleString()
           }
       })
   </script>
<!--end-->

  <!-- 条件与循环-->
   <div id="app-3">
       <p v-if="seen">现在你看到我了</p>
   </div>
   <script>
      var app3 = new Vue({
           el:'#app-3',
           data:{
               seen:true
           }
       });
   </script>


   <div id="app-4">
       <ol>
           <li v-for = "todo in todos">
                {{todo.text}}
           </li>
       </ol>
   </div>
   <script>
       var app4 = new Vue({
           el:'#app-4',
           data:{
               todos:[
                   {text:'这么玩的吗'},
                   {text:'还可以的啊'},
                   {text:'效果不错的'}
                ]
           }
       });
   </script>
   <!--end-->

   <!--处理用户输入-->
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">反转消息</button>
    </div>
   <script>
       var app5 = new Vue({
           el:'#app-5',
           data:{
               message:'1234567'
           },
           methods:{
                reverseMessage:function(){
                    this.message = this.message.split('').reverse().join('');
                }
            }
       });
   </script>

   <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message"/>
   </div>
   <script>
       var app6 = new Vue({
           el:'#app-6',
           data:{
               message:'Hello World!'
           }
       });
   </script>
    <!--end-->


</body>
</html>